h1
{
  text-align: center;
  color: black;
}
body
{
  background-color: #F08080;
}
table
{
  border: 1 px;
}
td
{
  text-align: center;
}
table
{
  text-align: center;
}
p
{
  text-align: justify;
  color: black;
}
p.thick {
  font-weight: 1700;
}
h6
{
  text-align: center;
}
