<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <title>ABOUT KIPS</title>
  </head>
  <body>
    <div class="row" style="background-color:black">
           <div class="col-mid-4">
              <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <a href="/school/" class="navbar-brand">HOME</a>
                  <a href="/about/" class="navbar-brand">About KIPS</a>
                  <a href="/administration/" class="navbar-brand">Administration</a>
                  <a href="/academics/" class="navbar-brand">Academics</a>
                  <a href="/staff/" class="navbar-brand">Staff</a>
                  <a href="/campusfacilites/" class="navbar-brand">Campus facilities</a>
               </div>
           </div>
     </div>
     <br><br>
     <h1>History</h1>
     <div class="container">
     <p>Karam International Public School was inaugurated on 10th July 1977 with classes from Nursery to V. Now the School runs from Nursery to XII.

This school is named after the great Christ KIPSARAM. He was the follower of JESUS . Later the successor  founded the trust with a great vision and mission. Under this trust few more schools are running in different parts of Punjab. The Patron of the trust is Sardar Sukhdev Singh Ji Dhindsa, M.P., Rajya Sabha. Under the guidance, support and vision of trust members who are well known in different walks of the life, the school is well equipped with excellent infrastructure and facilities.

Karam International Public School is an English Medium, Co-Educational school affiliated to Central Board of Secondary Education (CBSE), New Delhi. It is run on Public School lines and aims at imparting quality education to the rural children at an affordable cost, education is the essential ingredient for making a nation strong. The school draws its inspiration from the great ethical and moral principles enshrined in the teachings of the Gurus. Divinity is imbibed at the school as part of the Curriculum.</p>
</div>
<br>
<h1>Vision</h1>
     <div class="container">
<p>To ensure an all round development of personality of its students and train them mentally, physically and spiritually to face the modern day world in every sphere of activity.</p>
</div>
<br>
<h1>Mission</h1>
     <div class="container">
<p>To provide quality education at an affordable cost and empower all students to apply the acquired skills and knowledge to become successful in life and become better citizens. Students will be equipped to with tools succeed in pursuance of their educational goals and for a lifelong learning.</p>
</div>
  </body>
</html>
