<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <meta charset="utf-8">
    <title>Academics</title>
  </head>
  <body>
    <div class="row" style="background-color:black">
           <div class="col-mid-4">
              <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <a href="/school/" class="navbar-brand">HOME</a>
                  <a href="/about/" class="navbar-brand">About KIPS</a>
                  <a href="/administration/" class="navbar-brand">Administration</a>
                  <a href="/academics/" class="navbar-brand">Academics</a>
                  <a href="/staff/" class="navbar-brand">Staff</a>
                  <a href="/campusfacilites/" class="navbar-brand">Campus facilities</a>
               </div>
           </div>
     </div>
     <br><br>
     <div class="coontainer">
       <h1>Academics</h1><br>
       <ul>
         <li>The school folllows an acdemic sesion of one year from march aprl of currnet year to march of next year.</li>
          <li> The session includes six monthly tests,1 mid sessionals,1 preboard exams and 1 final exams.</li>
           <li>Along with that.School follows the 75 percent attendace rule,failure of which leads to cancelletion in sitting for final exams</li>

       </ul>
     </div>
       <div class="jumbotron">
         <h1>Links to the designed curriculum</h1>
         <ul>
           <div class="container">
           <a href="#"><li>Class 1</li></a>
           <a href="#"><li>Class 2</li></a>
           <a href="#"><li>Class 3</li></a>
           <a href="#"><li>Class 4</li></a>
           <a href="#"><li>Class 5</li></a>
           <a href="#"><li>Class 6</li></a>
           <a href="#"><li>Class 7</li></a>
           <a href="#"><li>Class 8</li></a>
            <a href="#"><li>Class 9</li></a>
            <a href="#"><li>Class 10</li></a>
            <a href="#"><li>Class 11</li></a>
            <a href="#"><li>Class 12</li></a>
            <a href="#"><li>Nursery</li></a>
            <a href="#"><li>K.G.</li></a>
                      </div>
         </ul>
       </div>
    <div class="container">
      <h1>Additional courses</h1>
      <ul>
        <a href="https://datascience.berkeley.edu/academics/curriculum/introduction-to-data-science-programming/"><li>Introduction to data science</li></a>
        <a href="https://datascience.berkeley.edu/academics/curriculum/research-design-application-data-analysis/"><li>Research design</li></a>
        <a href="https://datascience.berkeley.edu/academics/curriculum/statistics-for-data-science/"><li>Statistics</li></a>
        <a href="https://datascience.berkeley.edu/academics/curriculum/statistics-for-data-science/"><li>Fundamentals of data engineering</li></a>
      </ul>
    </div>


  </body>
</html>
