<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <title></title>
  </head>
  <body>

                <div class="row" style="background-color:black">
                       <div class="col-mid-4">
                          <nav class="navbar navbar-default">
                            <div class="navbar-header">
                              <a href="/school/" class="navbar-brand">HOME</a>
                              <a href="/about/" class="navbar-brand">About KIPS</a>
                              <a href="/administration/" class="navbar-brand">Administration</a>
                              <a href="/academics/" class="navbar-brand">Academics</a>
                              <a href="/staff/" class="navbar-brand">Staff</a>
                              <a href="/campusfacilites/" class="navbar-brand">Campus facilities</a>
                           </div>
                       </div>
                 </div>
     <br><br><br><br>
    <div class="container">
            <div class="row">
               <div class="column-mid-6">
                 <img src="https://media.gettyimages.com/photos/businessman-a-desk-in-the-office-picture-id502848629?s=612x612" alt="">

               </div>

               <div class="col-xs-26 col-sm-5">
                 <h2>From the Director's Desk</h2>
                 <p>Today, children are growing in a more challenging and demanding environment. The rate of change in every sphere is rapid with the enhanced knowledge exchange and technology development, the world is going more and more flatter.

We, focus for a globally relevant education. Such an education would mean imparting skills that would develop mental ability in individuals to confidently interact and work in diverse environments or situations. The school curriculum is oriented such that students embody self confidence and 'out of the box' thought process. In all our endeavours, the focus is to strengthen competencies needed to be autonomous, lifelong learners. We make concerted efforts for a holistic development of the students who enter the school portals. A wide range of multi-dimensional activities are organized which go a long way in propelling a self-belief, confidence in decision making and problem solving along with chiseling of soft skills.</p>
               </div>
            </div>
   </div>
  </body>
</html>
