<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <meta charset="utf-8">
    <title>CAMPUS FACILITIES</title>
  </head>
  <body>
    <div class="row" style="background-color:black">
           <div class="col-mid-4">
              <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <a href="/school/" class="navbar-brand">HOME</a>
                  <a href="/about/" class="navbar-brand">About KIPS</a>
                  <a href="/administration/" class="navbar-brand">Administration</a>
                  <a href="/academics/" class="navbar-brand">Academics</a>
                  <a href="/staff/" class="navbar-brand">Staff</a>
                  <a href="/campusfacilites/" class="navbar-brand">Campus facilities</a>
               </div>
           </div>
     </div>
     <br><br><br>
     <div class="container">
             <div class="row">
                  <div class="col-xs-26 col-sm-3">
                  <h2>Bus Transport</h2>
                  <p>The Institute provides Bus transport to facilitate commuting from the campus to the city. There are two regular buses. These Buses ply to and fro, every morning and evening.</p>
                    </div>
                      <div class="col-xs-26 col-sm-5">
                      <div class="column-mid-6">
                <img src="https://www.nitj.ac.in/images/menu_content/dsc_0667.jpg" alt="">

             </div>
    </div>
    <br><br><br><br>
    <div class="container">
                       <div class="row">
                            <div class="col-xs-26 col-sm-3">
                            <h2>Dispensary</h2>
                            <p>The dispensary is the heart beat of the institute which provide Treatment for different diseases and also provide first aid to the injured ,and also arranges different awareness camp Like cardiac camp , BMD camp etc . Different updates are been circulated for prevention from the seasonal disease.</p>
                              </div>
                                <div class="col-xs-26 col-sm-5">
                                <div class="column-mid-6">
                          <img src="https://www.nitj.ac.in/images/menu_content/dsc_0620.jpg" alt="">

                       </div>
              </div>"

            </div>
   </div>
   <br><br><br><br>
   <div class="container">
                      <div class="row">
                           <div class="col-xs-26 col-sm-3">
                           <h2>Bank</h2>
                           <p>The institute has two banks situated in the campus, State Bank of Patiala and Canara Bank. Both the banks are regular branches in the campus and are housed in same building.

</p>
<p>State Bank of Patiala : Institute employees have their salaries credited to the State Bank of Patiala.</p>
                             </div>
                               <div class="col-xs-26 col-sm-5">
                               <div class="column-mid-6">
                         <img src="https://www.nitj.ac.in/images/menu_content/160331050114am59153.jpg" alt="">

                      </div>
             </div>"

           </div>
  </div>

  </body>
</html>
